<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Customdb\Moduledb\Api\TicketRepositoryInterface" type="Customdb\Moduledb\Model\ResourceModel\TicketRepository"/>
    <preference for="Customdb\Moduledb\Api\Data\TicketInterface" type="Customdb\Moduledb\Model\Ticket"/>
 <!--LOGGER-->
   <type name="Customdb\Moduledb\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">myLoggerName</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Customdb\Moduledb\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <!--PLUGIN CAMBIO PREZZO-->
    <type name="Magento\Catalog\Model\Product">
        <plugin name="change_product" type="Customdb\Moduledb\Plugin\Product" sortOrder="1" disabled="false"/>
    </type>
</config>










<!-- nel di indichiamo che usiamo le interface al posto del model e del repository -->

<!--model su magento
poi service contract
a cui ci colleghiamo con api esterne
con di.xml tutte le volte che utlizziamo il model utilizziamo le interfacce
le interfacce ci collegano col model
webapi.xml ci colleghiamo con api con un servizio esternpo
poi facciamo acl access control list con chiave api
però per creare questo token andiamo su system integrazione per creare utenenti dal backend
acl + api
insert x-forwarded-for 55.55.55.55 su richiesta api; devo fare poi check su symfony

-->
